/*  your css code here. If applicable */
.container{
	width:1100px;
	background-color:palegreen;
	padding:20px;
	

tr td:nth-child(odd){
	width:200px;
}
tr td:nth-child(2){
	width:600px;
	text-align:center;
}
p{
	margin:0px;
}
tr img{
	width:100%
}
table  , td{
	border:solid black 1px;
}